body{
    background-color:white;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.wrapper{
    background-color:#333;
    text-align:center;
    display:flex;
    justify-content: center;
    border-radius: 15px;

}
.wrapper h1{
    font:bold;
    text-decoration: double;
    color:white;
    padding:0.5em;
    display:flex;
    flex-flow:column;
}
.wrapper h2{
    display:flex;
    flex-flow:column;
}