body{
    background-color:white;
    width:80%;
    height: 100%;
    display:flex;
    justify-content: center;
    font-family: 'Georama', sans-serif;
    margin:0 auto;
    padding:1em;
}
.wrapper{
    background-color:#333;
    text-align:center;
    justify-content: center;
    border-radius: 15px;
    width:100%;
}
.wrapper h1{
    font:bold;
    text-decoration: double;
    color:white;
    padding:0.5em;
    width:100%;
    font-size: 55px;
}
.wrapper h2{
    font:bold;
    text-decoration: double;
    color:white;
    padding:0.5em;
    width:100%;
    font-size: 25px;
}
.wrapper a{
    color:white;
    text-decoration: none;
}
.return{
    font:bold;
    text-decoration: double;
    color:white;
    padding:1em;
    font-size: 35px;
    text-align:left;
}